<!DOCTYPE html>
<html>
<head>
	<title>Edit data</title>
	<style type="text/css">
		form{
			text-align: center;
			color: white;
			font-family: cursive;
		}
		body{
			background-color: black;
		}
	</style>
</head>
<body>
	<form action="#" method ="post">
		Name : <input type="text" name="Name" value="{{register.Name}}"><br><br>
		Surname : <input type="text" name="Surname" value="{{register.Surname}}"><br><br>
		Register number : <input type="text" name="Reg_no" value="{{register.Reg_no}}"><br><br>
		Mobile number : <input type="text" name="Mobile_no" value="{{register.Mobile_no}}"><br><br>
		Branch : <input type="text" name="Branch" value="{{register.Branch}}"><br><br>
		<input type="submit" value="Edit">
	</form>
</body>
</html>