<!DOCTYPE html>
<html>
<head>
	<title>add data</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/show.css')}}">
</head>
<body>
<div>
	<form action="#" method ="post">
		Name : <input type="text" name="Name" placeholder="Enter the name"><br><br>
		Surname : <input type="text" name="Surname" placeholder="Enter the surname"><br><br>
		Register number : <input type="text" name="Reg_no" placeholder="Enter the registor number"><br><br>
		Mobile number : <input type="text" name="Mobile_no" placeholder="Enter the mobile number"><br><br>
		Branch : <input type="text" name="Branch" placeholder="Enter the branch name"><br><br>
		<input type="submit" name="upload">
	</form>
</div>
</body>
</html>