<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class ="container">
	<table class = "table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Surname</th>
		<th>Reg_no</th>
		<th>Mobile_no</th>
		<th>Branch</th>
	</tr>
	{%for i in register %}
	<tr>
		<td>{{i.Id}}</td>
		<td>{{i.Name}}</td>
		<td>{{i.Surname}}</td>
		<td>{{i.Reg_no}}</td>
		<td>{{i.Mobile_no}}</td>
		<td>{{i.Branch}}</td>
		<td><a href="{{url_for('editData',registor_id=i.Id)}}">edit </a></td>
		<td><a href="{{url_for('deleteData',registor_id=i.Id)}}"> delete</a></td>
	</tr>
	{% endfor%}
	</table><br>
	<button><a href="{{url_for('addData')}}">add</a></button>
</div>
</body>
</html>